body {
    padding: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Arial;
}

#header {
    width: 100%;
    height: 250px;
    margin-top: -50px;
    background: black;
    text-align: center;
}

#wrapper {
    width: 100%;
    height: auto;
    margin: 0px auto;
}

#main {
    height: 860px;
}

#footer {
    border-top: 1px solid gray;
    height: 40px;
    text-align: center;
    font-size: 14px;
}

#wrapper #main img {
    width: 100%;
    height: 860px;
}

#header #nav {
    margin-left: 1130px;
    margin-top: -40px;
}

#header #nav ul li {
    display: inline;
    padding: 3px 8px 3px 8px;
    background-color: #99FF;
    font-size: 25px;
    color: black;
    font-family: pristina;
}

#header #nav a {
    text-decoration: none;
    color: black;
}

#header #nav a:visited {
    color: black;
}

#header #nav a:hover {
    color: white;
}

#header #nav a:active {
    color: red;
}

#header #logo img {
    margin-top: -225px;
    margin-left: -1250px;
    border-radius: 50%;
}

#header #name {
    width: 300px;
    height: 75px;
    text-align: center;
    color: whitesmoke;
    font-family: fantasy;
    font-size: 60px;
    margin: auto;
    margin-top: 60px;
    padding-top: 50px;
}

#header #fname {
    width: 275px;
    height: 75px;
    text-align: center;
    color: whitesmoke;
    font-family: fantasy;
    font-size: 30px;
    margin: auto;
}

#wrapper #table1 {
    width: 100%;
    height: 250px;
    table-layout: fixed;
}

#wrapper #table1 td {
    background: #d8d8d8;
    font-size: 20px;
    font-family: Arial;
    padding: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-radius: 15px;
    box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
}

#wrapper #table1 td h3 {
    text-align: center;
    font-family: pristina;
    font-size: 30px;
}

#wrapper #main #container {
    position: relative;
}

#wrapper #main #container #text {
    position: absolute;
    top: 180px;
    left: 335px;
    font-size: 17px;
    border-right: 2px solid rgb(0, 0, 0);
    padding-right: 50px;
}

#wrapper #main #container #text h2 {
    font-family: Agency FB;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

#wrapper #main #container #text #pi .sh {
    font-family: Calibri;
    list-style-type: none;
    font-weight: bold;
    font-size: 21px;
}

#wrapper #main #container #text #pi .sh .m {
    list-style-type: disc;
    font-weight: normal;
    font-family: Comic Sans MS;
    font-size: 17px;
}

#wrapper #main #container #text #ts {
    font-family: Comic Sans MS;
}

#wrapper #main #container #text2 {
    position: absolute;
    top: 180px;
    left: 655px;
    font-size: 17px;
}

#wrapper #main #container #text2 h2 {
    font-family: Agency FB;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

#wrapper #main #container #text2 #edu .sh2 {
    font-family: Calibri;
    list-style-type: none;
    font-weight: bold;
    font-size: 21px;
}

#wrapper #main #container #text2 #edu .sh2 .m2 {
    list-style-type: disc;
    font-weight: normal;
    font-family: Comic Sans MS;
    font-size: 17px;
}

#wrapper #main #container #text2 #ah {
    font-family: Gadugi;
    font-weight: bold;
}